<!DOCTYPE html>
<html>
<head>                
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>
<div>
    <!-- 입력기능 만들기 -->    
    <div class="container my-3">        
        <h1>SSG.COM 프로모션 효과분석</h1>
        <br />
        <div>
            <form action="/create">
                <input type="text"  name="title" placeholder="제목입력"/>
                <input type="text"  name="content" placeholder="내용입력"/>
                <input type="submit" value="저장"/>
                <button><a href="/page/0">저장내용 확인</a></button>       
            </form>
            
        </div>        
        <div>
            <form action="/analysis">
                <input type="text"  name="promId" placeholder="프로모션ID"/>                
                <input type="submit" value="프로모션효과분석"/>
            </form>
        </div>        
        <div>        
            <button><a href="/select">판매내역조회</a></button>       
        </div>
    </div>
    <!-- 게시판으로 가는 버튼 만들기 -->
    <!-- <div>
        {% for idx in range(5) %}
        <button><a href="/page/{{idx}}">{{idx}}</a></button>
        {% endfor %}
    </div> -->
</div>
</html>
